In [1]:
print('hello, world!')

hello, world!

In [303]:
25 + 17

42

In [297]:
2 *12321

24642

In [298]:
2 ** 10

1024

In [299]:
x = 256 - 128

128

In [300]:
type(x)

list

In [301]:
y = 10
type(y)

int

In [302]:
z = 'Sunrise'
type(z)

str

# Заполнение списка числами

In [228]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [229]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [230]:
import random

In [231]:
arr = [505, 588, 1377, 1488]

In [232]:
random.sample(arr,1)

[1488]

In [233]:
random.sample(range(250,300),10)

[277, 264, 295, 262, 263, 256, 299, 284, 254, 250]

# Преобразование списка в строку

In [234]:
arr = ['word1','word2','word3']

In [235]:
type(arr)

list

In [236]:
list_in_str = '  '.join(arr)

In [237]:
type(list_in_str)

str

In [238]:
list_in_str

'word1  word2  word3'

In [239]:
arr_with_int = ['welcome','to','my','world',7]
'-'.join((str(i) for i in arr_with_int)) #генератор

'welcome-to-my-world-7'

In [240]:
str(arr_with_int)

"['welcome', 'to', 'my', 'world', 7]"

# Кортежи

In [241]:
t_5 = (5)

In [242]:
type(t_5)

int

In [243]:
t_5_number1 = (5,)

In [244]:
type(t_5_number1)

tuple

In [245]:
tuple('stroka')

('s', 't', 'r', 'o', 'k', 'a')

In [246]:
my_tuple = (2, 3, 5, 6, 8)

In [247]:
my_tuple

(2, 3, 5, 6, 8)

In [248]:
type(my_tuple)

tuple

In [249]:
my_tuple[2]

5

In [250]:
my_tuple.index(8)

4

In [251]:
my_tuple.count(5)

1

In [252]:
len(my_tuple)

5

# Множества

In [254]:
set([1,1,22,24,22,588,7,3,7,9,19,9])

{1, 3, 7, 9, 19, 22, 24, 588}

In [255]:
s =([1,2,3,4,5])

In [256]:
type(s)

list

In [257]:
s = set([1,2,3,4,5])

In [258]:
type(s)

set

# объединения множеств

In [259]:
s.union(set([4,5,6,7,8,]))

{1, 2, 3, 4, 5, 6, 7, 8}

In [260]:
# само по себе изменение переменной s не происх-т

In [270]:
s1 = s | set([4,5,6,7,8,])

In [262]:
s

{1, 2, 3, 4, 5}

In [263]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

# добавление элементов множества

In [264]:
s1.update(set([9,10,11]))

In [265]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [266]:
s1 |= set([12,13,14])

In [267]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [272]:
#разница

In [271]:
set([1,2,3]) - set([1,2,4])

{3}

In [274]:
s

{1, 2, 3, 4, 5}

In [273]:
s.difference(set([1,2,4]))

{3, 5}

In [ ]:
#удаление из множества А элементов,которые есть во множестве А и мн-ве В

In [275]:
s = set([1,2,3,4,5])

In [276]:
s

{1, 2, 3, 4, 5}

In [277]:
s.difference_update(set([3,2,5]))

In [278]:
s

{1, 4}

In [279]:
s -= set([3,1,4])

In [280]:
s

set()

In [ ]:
#пересечение множеств

In [281]:
set([2,3,588,2,3,]) & set(list(range(3,599)))

{3, 588}

In [ ]:
s

In [282]:
s.intersection(set([1,3,4,5,5,588]))

set()

In [283]:
# во множестве А останутся элементы которые есть во Множ А и В

In [285]:
s = set([1,2,3])

In [286]:
s.intersection_update([1,2,4])
s

{1, 2}

In [287]:
s = set([1,2,3])

In [288]:
s &= set([1,6,7])

In [ ]:
s

In [ ]:
# возвращение всех элементов , которых нет сразу в ОБОИХ множествах

In [290]:
s = set([1,2,3])

In [289]:
s ^ set([1,2,7])

{2, 7}

In [291]:
s.symmetric_difference(set([1,3,7]))

{2, 7}

In [292]:
2 in s

True

In [293]:
1 not in s

False

In [ ]:
# a <= b входят ли все элементы множества A во множество b

In [294]:
s

{1, 2, 3}

In [295]:
s <= set([1,2]), s <= set([1,2,3,4])

(False, True)

In [ ]:
# проверка на разные множества

In [ ]:
s

In [ ]:
s.isdisjoint(set([4,5,6]))

In [ ]:
s.isdisjoint(set([1,5,6]))

In [296]:
### у диапазона можно найти параметры

r = range(1, 10)
r.start, r.stop, r.step

(1, 10, 1)

In [2]:
range(0,10)

range(0, 10)

In [3]:
list(range(0, 11, 5))

[0, 5, 10]

In [11]:
m = 5

In [6]:
str(m)

'5'

In [8]:
str(m)

'5'

In [16]:
name = 'Artem'

surname = 'Fomin'

name + ' ' + surname

'Artem Fomin'

In [ ]:
5 + 5,0

In [17]:
print("hello")
print('hello')
print('hello \'world')
print('hello \nworld')

hello
hello
hello 'world
hello
world

In [19]:
name = input('Ваше имя? :')
print('Ваше имя ' + name)

Ваше имя? :Abraham
Ваше имя Abraham

In [20]:
int('3'+'4')

34

In [21]:
print('3'+'4')

34

In [22]:
 float('210' * int('2'))

210210.0

In [23]:
test = 100
test -= 63
print(test)

37

In [24]:
2000 - 2 ** 10 + 1000 / 10

1076.0

In [25]:
x = [12345,2121,1221]
x[1]

2121

In [27]:
10 % 5

0

In [30]:
10 // 3

3

In [31]:
10 % 3

1

In [ ]:
round(5)

In [ ]:
round(5.34785,2)

In [ ]:
'''2321321
dsadsada
fdfds
fsdfs'''

In [ ]:
'hello' * 2

In [ ]:
'hello, ' + 'world!'

In [ ]:
'qwerty' > 'qwert'

In [32]:
x = y =[1, 2]

In [33]:
x is y

True

In [36]:
x,y

([1, 100], [1, 100])

In [38]:
x = [1, 2]
y = [1, 2]

In [39]:
y[1] = 100

x,y

([1, 2], [1, 100])

In [40]:
x is y

False

In [41]:
x, y = 1, 2

In [42]:
x, y = y, x

In [43]:
x, y

(2, 1)

In [44]:
x,y,z = '123'

In [45]:
x,y,z

('1', '2', '3')

In [46]:
int('A',16)

10

In [60]:
x=2;y=2;z=2
x is y

True

In [61]:
bool(0)

False

In [63]:
bool(10 and 20)

True

In [64]:
10 and 20, 0 and 20, 10 and 0

(20, 0, 0)

In [74]:
arr = {'x':1, 'y':2, 'z':3}
arr.keys()

dict_keys(['x', 'y', 'z'])

In [75]:
for key in arr.keys():
    print(key,arr[key])

x 1
y 2
z 3

In [76]:
arr = [1, 2]
obj = enumerate(arr, start=2)
next(obj)

(2, 1)

In [77]:
spisok = [16, 46, 26, 36]
for i in enumerate(spisok):
    print(i)

(0, 16)
(1, 46)
(2, 26)
(3, 36)

In [82]:
print('stroKA'.swapcase())

STROka

In [83]:
s = 'пример пример Пример'
s.find('при'),s.find('При'),s.find('тест')

(0, 14, -1)

In [84]:
s = 'Привет, Петя'
print(s.replace('Петя', 'Вася'))

Привет, Вася

In [85]:
'11s'.isidentifier()

False

In [86]:
x = 'sdf12321'

x[1:].isdigit()

False

In [88]:
x =[1,2,3,4,5]
y=x.copy()

In [89]:
y

[1, 2, 3, 4, 5]

In [90]:
x is y

False

In [92]:
arr = [
    [1,2,3],
    ['str','atac',4],
    [5,6,7]
]

arr

arr[1][1]

'atac'

In [93]:
arr = [1, 2, 3, 4]
for i in range(len(arr)):
    arr[i] *= 2
print(arr)

[2, 4, 6, 8]

In [94]:
arr = [1, 2, 3, 4]
arr = [ i * 2 for i in arr ]
print(arr)

[2, 4, 6, 8]

In [97]:
{k:v for v, k in enumerate(arr)} #GENERATOR dictionary u know yep

{2: 0, 4: 1, 6: 2, 8: 3}

In [98]:
def func(elem):
    return elem + 10
arr = [1, 2, 3, 4, 5]
print(list(map(func,arr)))

[11, 12, 13, 14, 15]

In [99]:
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [100]:
list(zip([1,2,3],[4,6],[7,8,9,10])) #  во втором списке 2 эл-та, zip Дал кол-во списков = числу мин.эл

[(1, 4, 7), (2, 6, 8)]

In [102]:
arr = [1,1,2,3,4]

arr.remove(1)

arr

[1, 2, 3, 4]

In [104]:
all(['str', 10])

True

In [105]:
all([])

True

In [106]:
reversed(arr)

In [107]:
list(reversed(arr))

[1, 2, 1, 2, 1]

In [108]:
arr.insert(0, 999)

In [109]:
arr

[999, 1, 2, 1, 2, 1]

In [113]:
import random

random.choice(['s','t','r','n'])

't'

In [116]:
arr = [2, 7, 4, 9 , 3, 1, 5, 6]
arr.sort(reverse = True)

arr

[9, 7, 6, 5, 4, 3, 2, 1]

In [117]:
arr = [2, 9, 0 ,588 ,1488]

In [118]:
arr.sort()

In [119]:
arr

[0, 2, 9, 588, 1488]

In [120]:
arr.sort(reverse=True)

In [121]:
arr

[1488, 588, 9, 2, 0]

In [122]:
arr.sort(reverse=False)

In [123]:
arr

[0, 2, 9, 588, 1488]

In [124]:
arr = ['аргумент','аргумен','аргум1','аргумент100']
arr.sort(key=str.lower)
for i in arr:
    print(i, end=' ')

аргум1 аргумен аргумент аргумент100

In [125]:
sorted(arr)

['аргум1', 'аргумен', 'аргумент', 'аргумент100']

In [127]:
'1232121'[2],[4]

('3', [4])

In [128]:
'qwerty'[2:-1]

'ert'

In [129]:
'sdfdsfsdfsdfsd'[0:10:2]

'sfssf'

In [130]:
'1232312'[1]

'2'

In [131]:
x = '1232121'
x[0]+x[1]+x[2]

'123'

In [132]:
x = int(x)

In [133]:
x

1232121

In [134]:
'123456'[:]

'123456'

In [135]:
text = 'Love thy neighbor'
print(text.split())

['Love', 'thy', 'neighbor']

In [136]:
print(text.split(', '))

['Love thy neighbor']

In [137]:
x = '121212'
x.isnumeric()
print(type(x))
int(x)
print(type(x))

<class 'str'>
<class 'str'>

In [138]:
text

'Love thy neighbor'

In [140]:
t = 'Storm Gust'
t.replace('S' , 'Seighers')

'Seigherstorm Gust'

In [141]:
text = 'Toyota Camry'

In [142]:
text

'Toyota Camry'

In [143]:
text.find('t')

4

In [144]:
text.rfind('r')

10

In [145]:
text.find('r')

10

In [146]:
text.find('y')

2

In [147]:
text.rfind('y')

11

In [148]:
text.replace('T', 'C')

'Coyota Camry'

In [149]:
text

'Toyota Camry'

In [153]:
text = text.replace('o', 'a')
text

'Tayata Mark II'

In [150]:
text.upper()

'TOYOTA CAMRY'

In [154]:
text = 'Toyota Mark II'

In [152]:
text

'Toyota Mark II'

In [155]:
text.isalpha()

False

In [156]:
text = 'Toyota'

In [157]:
text.isalpha()

True

In [158]:
text = 'Toyota '

In [159]:
text.isalpha()

False

In [160]:
text = '12321'

In [161]:
text.isnumeric()

True

In [162]:
text = '12345  '

In [163]:
text.isnumeric()

False

In [164]:
text = '1234_234'

In [165]:
text.isnumeric()

False

In [166]:
text = input('vvedite chisla: ')
text = list(text)
print(text)
type(text)

vvedite chisla: 213125
['2', '1', '3', '1', '2', '5']

list

In [167]:
text_1 = ['Nakemaru', '1', '2', '3', 'Gumi']
text_2 = ['1','2','588','44440']
text_3 = [1, 10, 6, 2, 322, 1337, 1488, 2012, 2048]
print(text_1)
text_1.insert(1, 'Creators')
print(text_1)
text_1 = text_1 + text_2
print(text_1)
text_1.remove('1')
print(text_1)
text_1.pop()
print(text_1)
text_1 = list(text_1)
t = text_1.count('2')
print(t)
text_1.reverse()
print(text_1)

['Nakemaru', '1', '2', '3', 'Gumi']
['Nakemaru', 'Creators', '1', '2', '3', 'Gumi']
['Nakemaru', 'Creators', '1', '2', '3', 'Gumi', '1', '2', '588', '44440']
['Nakemaru', 'Creators', '2', '3', 'Gumi', '1', '2', '588', '44440']
['Nakemaru', 'Creators', '2', '3', 'Gumi', '1', '2', '588']
2
['588', '2', '1', 'Gumi', '3', '2', 'Creators', 'Nakemaru']

In [168]:
ls = [124, 1245, 'word', 555]

ls.index('word')

2

In [171]:
my_tuple = (1, 2, 3)
my_tuple * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [174]:
# Определение високосного года, високосный -true, иначе - false
year = int(input('Введите год: '))
if year % 4 == 0:
    print(True)
else:
    print(False)

Введите год: 2012
True

In [ ]:
# квадрат, периметр, площадь и диагональ
a = float(input('Введите длину стороны квадрата : '))
periemeter = a * 4
area = a ** 2
diagonal = a * 2 ** 0.5
my_tuple =(periemeter, area, diagonal)
print(my_tuple)

In [184]:
# месяц - сезон (в более приятном виде)
mounth = input("Введите месяц: ")
winter = ('декабрь','январь','февраль')
spring = ('март','апрель','май')
summer = ('июнь','июль','август')
fall = ('сентябрь','октябрь','ноябрь')
if mounth in winter:
    print('зима')
elif mounth in spring:
    print('весна')
elif mounth in summer:
    print('лето')
elif mounth in fall:
    print('осень')
else:
    print('программист, перестань ')

Введите месяц: сентябрь
осень

In [185]:
# bank 
a = float(input('Введите сумму: '))
year = int(input('Введите количество лет: '))
i = 0
while i < year:
    a += a / 100 *20
    i += 1
    a = int(a)
    print(a)

Введите сумму: 10000
Введите количество лет: 20
12000
14400
17280
20736
24883
29859
35830
42996
51595
61914
74296
89155
106986
128383
154059
184870
221844
266212
319454
383344

In [187]:
arr = [1,2,3]
arr[0] = 5
arr

[5, 2, 3]

In [188]:
str1 = 'avto'
str2 = ' world'
str3 = str1+ str2
print(str3)

avto world

In [194]:
u = 44440
o = [13, 5, 10, 4, 5, 6, 7, 8,]
print(o.index(4))
print(o.pop(4))
o.insert(4,u)
print(o)

3
5
[13, 5, 10, 4, 44440, 6, 7, 8]

In [45]:
pandora = {}

In [46]:
pandora['borderlands'] = 'zero'

In [47]:
pandora

{'borderlands': 'zero'}

In [50]:
pandora[588] = 'Night_Witches'

In [51]:
pandora

{'borderlands': 'zero', 588: 'Night_Witches'}

In [52]:
pandora[588]

'Night_Witches'

In [ ]:
zoo_pets = [
    'lion', 'skunk',
'elephant','horse'
]
for animal in zoo_pets[::-1]:
    print(animal)

In [225]:
animal = 'lion'
for char in animal:
    print(char)

l
i
o
n

In [205]:
zoo_pet_massiv = {
    'lion': 300,
    'skunk': 5,
    'elephant': 5000,
    'horse': 400,
}
total_mass = 0
for animal in zoo_pet_massiv:
    print(animal, zoo_pet_massiv[animal])
    total_mass += zoo_pet_massiv[animal]
print('obshaya massa', total_mass)

lion 300
skunk 5
elephant 5000
horse 400
obshaya massa 5705

In [20]:
def process(subject, action='мыла',object ='раму'):
    print('кто -',subject)
    print('Делал(а) -',action)
    print('Над чем - ',object)
    print('Получается :-',subject,action,object)
    
process(subject='Мама')

кто - Мама
Делал(а) - мыла
Над чем -  раму
Получается :- Мама мыла раму

In [21]:
numeric = int(input('Введите число: \n')) # делимое
count_of_divides = 0 # по этой переменной отличим простое от составного
i = 0 # делитель
while numeric != i:
    i += 1
    if numeric % i == 0:
        count_of_divides += 1
if count_of_divides == 2:
    print('простое число')
else:
    print('составное число')

Введите число:
25
составное число

In [22]:
x = 5
maxi = 0
maxi_over = 0

while x != 0:
    x = int(input('Вводите числа, чтобы остановиться - введите 0: '))
    if maxi < x:
        maxi_over = maxi
        maxi = x
#     if maxi_over < x < maxi:
#         maxi_over = x           
print('максимальное:', maxi)
print('предмаксимальное:', maxi_over)

Вводите числа, чтобы остановиться - введите 0: 1
Вводите числа, чтобы остановиться - введите 0: 2
Вводите числа, чтобы остановиться - введите 0: 3
Вводите числа, чтобы остановиться - введите 0: 4
Вводите числа, чтобы остановиться - введите 0: 5
Вводите числа, чтобы остановиться - введите 0: 2024
Вводите числа, чтобы остановиться - введите 0: 0
максимальное: 2024
максимальное_почти: 5

In [23]:
x = input('Введите целое число > 2 :\n')
x = int(x)
if x <= 2:
    print('Вы ввели число <= 2: ')
divider = 2
while x % divider != 0:
    divider += 1
print('Минимальный делитель ',divider)

Введите целое число > 2 :
6
Минимальный делитель  2

In [44]:
# программа тренировок по бегу
finish = int(input('какова цель в км? : '))
first_day = int(input('км в 1й день: '))
percent = int(input('процент дневного роста? : '))
count = first_day
i = 0 
from time import sleep
while count <= finish:
    print(f'count до цикла {count}')
    count += count / 100 * percent 
    i += 1 # счётчик дней 
    print(f'count после цикла {count}')
#     sleep(1)
#     if count <= finish:
print(i)

какова цель в км? : 15
км в 1й день: 7
процент дневного роста? : 15
count до цикла 7
count после цикла 8.05
count до цикла 8.05
count после цикла 9.2575
count до цикла 9.2575
count после цикла 10.646125
count до цикла 10.646125
count после цикла 12.24304375
count до цикла 12.24304375
count после цикла 14.0795003125
count до цикла 14.0795003125
count после цикла 16.191425359375
6

In [25]:
# факториал своими руками
k = int(input('Введите число, от которого получим факториал: '))
i = 1
res = 1
while i < k:
    res = res * (i+1)
    i += 1
print(res)

Введите число, от которого получим факториал: 5
120

In [27]:
# факториал через itertools
import itertools
def svoi_factorial(x,y): return x*y
chislo = int(input('Какой факториал нужен? '))
chislo = list(range(1,chislo+1))
crazy_res = list(itertools.accumulate(chislo,svoi_factorial))
print(crazy_res[-1])

Какой факториал нужен? 5
120

In [ ]:
x = int(input('Введите число, сколько секунд прошло с начала часа?'))
h = x // 3600 # задаю формат для ед. часов
m = x % 3600 // 60 # задаю формат для ед. минут
s = x % 3600 % 60 # задаю формат для ед. сек
zero = str(0)
m = str(m)
if len(m) == 1:
    result_min = zero + m
s = str(s)    
if len(s) == 1:
    result_sec = zero + s
print(f'''
X = {x}
H = {h}
M = {m}
S = {s}
''')
print(f'{h}:{result_min}:{result_sec}')

In [29]:
### Подсчёт чётных. Программа останавливается после ввода 0  
j = int(input('Введите число: '))
count_chet = 0
while j != 0:
    j = int(input())
    if j == 0:
        pass
    elif j % 2 == 0:
        count_chet = count_chet + 1
    #Здесь ставил break - это было ошибкой, прогнав цикл 1 раз-прога стопарилась
print('четных: ',count_chet)

Введите число: 235
4
24
0
четных:  2

In [43]:
woman_count = 0
while woman_count != 6:
    vash_pol = input('Введите пол: (м или ж) ') #
    if vash_pol == 'м':
        print('Вы не подходите') # как вернуться к while?
    
    elif vash_pol == 'ж':
        ear = int(input('Ваш возраст: '))
        if 18 <= ear <= 35 :
            woman_count = woman_count + 1
            print('Welcome to the club')
            print('В команде сейчас: ', woman_count,'женщин')
print('Запись в команду закрыта')

Введите пол: (м или ж) ж
Ваш возраст: 27
Welcome to the club
В команде сейчас:  1 женщин
Введите пол: (м или ж) ж
Ваш возраст: 39
Введите пол: (м или ж) ж
Ваш возраст: 22
Welcome to the club
В команде сейчас:  2 женщин
Введите пол: (м или ж) м
Вы не подходите
Введите пол: (м или ж) ж
Ваш возраст: 26
Welcome to the club
В команде сейчас:  3 женщин
Введите пол: (м или ж) ж
Ваш возраст: 31
Welcome to the club
В команде сейчас:  4 женщин
Введите пол: (м или ж) ж
Ваш возраст: 35
Welcome to the club
В команде сейчас:  5 женщин
Введите пол: (м или ж) ж
Ваш возраст: 30
Welcome to the club
В команде сейчас:  6 женщин
Запись в команду закрыта

In [7]:
rub = input('Введите рубли и копейки через пробел (например 10 25) за 1 авокадо : ')
count = input('Сколько авокадо покупаете? : ')
rub = rub.replace(' ','.')
rub = float(rub)
count = int(count)
result = rub * count
result = str(result)
rub, kop = result.split('.')
if len(kop) == 1:
    kop += '0'
print('итого:',f'{rub} руб. {kop} коп.')

Введите рубли и копейки через пробел (например 10 25) за 1 авокадо : 20 50
Сколько авокадо покупаете? : 5
итого: 102 руб. 50 коп.

In [8]:
text= input('Введите имя, отчество и фамилию: \n')
ls = text.split(' ')
print(f'{ls[2]} {ls[0]} {ls[1]}')

Введите имя, отчество и фамилию:
haha hehe huhu
huhu haha hehe

In [ ]:
# месяц - сезон
mounth = input("Введите месяц: ")
if mounth == 'декабрь' or mounth == 'январь' or mounth == 'февраль':
    print('зима')
elif mounth == 'март' or mounth == 'апрель' or mounth == 'май':
    print('весна')
elif mounth == 'июнь' or mounth == 'июль' or mounth == 'август':
    print('лето')
elif mounth == 'сентябрь' or mounth == 'октябрь' or mounth == 'ноябрь':
    print('осень')
else:
    print('программист, перестань ')

In [ ]:
# шахматы (задаём координаты на доске, если цвет один - узнаем об этом)
qwerty = input('Введите координату первой клетки шахмат: \n')
qwerty = qwerty.split(' ')
qwe = input('Введите координату первой клетки шахмат: \n')
qwe = qwe.split(' ')
#задаю координаты щахмат, сравниваю с эталоном
if ((qwerty[0][1] == '2') or (qwerty[0][1] == '4') or (qwerty[0][1] == '6') or (qwerty[0][1] == '8')) and (
    (qwerty[0][0] == 'a') or (qwerty[0][0] == 'c') or (qwerty[0][0] == 'e') or (qwerty[0][0] == 'g')):
    qwerty_res ='белый'
    print(qwerty,'-',qwerty_res)
    if ((qwerty[0][1] == '1') or (qwerty[0][1] == '3') or (qwerty[0][1] == '5') or (qwerty[0][1] == '7')) and (
        (qwerty[0][0] == 'b') or (qwerty[0][0] == 'd') or (qwerty[0][0] == 'f') or (qwerty[0][0] == 'h')):
        qwerty_res ='белый'
        print(qwerty,'-',qwerty_res)
else:
    qwerty_res = 'черный'
    print(qwerty,'-',qwerty_res)
if ((qwe[0][1] == '2') or (qwe[0][1] == '4') or (qwe[0][1] == '6') or (qwe[0][1] == '8')) and (
            (qwe[0][0] == 'a') or (qwe[0][0] == 'c') or (qwe[0][0] == 'e') or (qwe[0][0] == 'g')):
        qwe_res = 'белый'
        print(qwe,'-',qwe_res)
        if ((qwe[0][1] == '1') or (qwe[0][1] == '3') or (qwe[0][1] == '5') or (qwe[0][1] == '7')) and (
                (qwe[0][0] == 'b') or (qwe[0][0] == 'd') or (qwe[0][0] == 'f') or (qwe[0][0] == 'h')):
            qwe_res = 'белый'
            print(qwe,'-',qwe_res)
else:
    qwe_res = 'черный'
    print(qwe,'-',qwe_res)
if qwerty_res == qwe_res:
    print('Клетки одинакого цвета: ')
else:
    print('Клетки разного цвета: ')

In [32]:
# Пирамидка
count_stars = int(input('Введите макс. ширину ромба: \n'))
start = 1 # создам цикл, печать от start до count_stars
how_draw = 'volume_up'
probel = int((count_stars - 1) / 2)
while start <= count_stars:
    if start == count_stars:
        how_draw = 'volume_down'
    if how_draw == 'volume_up':
        print(' '*probel,'*'*start)
        probel -= 1
        if start <= count_stars:
            start += 2
    elif how_draw == 'volume_down':
        print(' '*probel,'*'*start)
        probel += 1
        if start <= count_stars:
            start -= 2
            if start <=0:
                break

Введите макс. ширину ромба:
10
     *
    ***
   *****
  *******
 *********

In [42]:
# Диагонали
length_square = int(input('Введите длину квадрата: \n'))
symbol = input('Введите cимвол которым нарисую диагонали \n')
probel_middle = length_square - 2
probel_middle_max = probel_middle
probel_left = 0
while probel_middle >= 1:
    print(probel_left*' ',symbol, probel_middle * ' ', symbol)
    probel_middle -= 2
    probel_left += 1
    if probel_middle <= 0: #Нужно для концовки верхней части + середина
        print(probel_left * ' ', symbol, symbol)
        probel_left += 1
        print(probel_left * ' ', symbol)
        probel_left += 1
while probel_middle <= probel_middle_max: # Нижний сектор
    probel_middle += 2
    probel_left -= 1
    final_print = probel_left * ' ' + symbol + probel_middle * ' ' + symbol
    print(final_print)

Введите длину квадрата:
15
Введите cимвол которым нарисую диагонали
&
 &               &
  &             &
   &           &
    &         &
     &       &
      &     &
       &   &
        & &
         &
        & &
       &   &
      &     &
     &       &
    &         &
   &           &
  &             &
 &               &

In [35]:
# В корзине лежат шары. Если разложить их в кучи по два, останется один.
#Если разложить в кучи по три, останется один. Если разложить в кучи по четыре,
#останется один. Если разложить в кучи по пять, останется один. Если разложить в кучи по шесть,
#останется один. Если разложить в кучи по семь, не будет остатка. Нужно найти минимальное
#количество шаров, удовлетворяющее условию.
count = 5
while True:
    if not ((count % 2 == 1) and (count % 3 == 1) and (count % 4 == 1)
        and (count % 5 == 1) and (count % 6 == 1) and (count % 7 == 0)):
        count += 1
    else:
        print(count)
        break

301

In [36]:
# Маляр, первая стена за * минут, последующие на 5 минут дольше
count_sten = int(input('Количество стен: '))
count_min_1st = int(input('Время на первую стену: '))
i = 1 
result = count_min_1st
time_next = count_min_1st
while i < count_sten:
    time_next += 5
    i += 1
    result = result + time_next
    print('на количество стен: ',i,', минут: ',result )
if result > 60 and result % 60 > 0:
    jet = result // 60
    jet += 1
    print(jet,'часов')
else:
    print('1 hour')

Количество стен: 6
Время на первую стену: 12
на количество стен:  2 , минут:  29
на количество стен:  3 , минут:  51
на количество стен:  4 , минут:  78
на количество стен:  5 , минут:  110
на количество стен:  6 , минут:  147
3 часов

In [37]:
# Множества, находит оригиналы, останавливается при пустом вводе
word_list = []
word = 'Raven'
while word != '':
    word = input('Введите слово: ')
    if word == '':
        break
    elif word not in word_list:
        word_list.append(word)
print(word_list)

Введите слово: руру
Введите слово: рфрф
Введите слово:
['руру', 'рфрф']

In [38]:
# Прога, которая выводит число пар одинаковых элементов в списке.
# При этом, если два элемента образовали пару, они не могут вступить
# в пару с другими элементами. Программа должна запрашивать на вход слова,
# каждое с новой строки, пока пользователь не введёт пустую строку
word = 0 #обозначаю здесь, чтобы word запустился в цикле
last = [] # лист, в который в начале кидаю строки
list_discharge = [] # лист, в который сбрасываю строки - пары из list
k = 0 # счётчик строк - пар
while word != '':
    word = input('Введите слово: \n')
    last.insert(0,word) # скидываю слова в last, пока не будет > 1 для сравнения
    if len(last) > 1:
        for i in last:
            if last[0] == last[1]: # сравниваю строки
                k += 1
                list_discharge.insert(0,last[0])
                last.remove(last[0])
                list_discharge.insert(0,last[0])
                last.remove(last[0])
print('количество пар =', k)

Введите слово:
рфрф
Введите слово:
рфрф
Введите слово:
рфрф
Введите слово:
рфрф
Введите слово:

количество пар = 2

In [56]:
# вариации двух кубиков с заданным количеством граней
import itertools
from itertools import product

first = int(input('Введите количество граней первого кубика: '))
second = int(input('Введите количество граней второго кубика: '))
my_list1 = list(range(1,first+1))
my_list2 = list(range(1,second+1))


list(product(my_list1, my_list2, repeat = 1))

Введите количество граней первого кубика: 6
Введите количество граней второго кубика: 6

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

In [55]:
#Есть файл с протоколом регистраций пользователей на сайте (registrations.txt).
#Каждая строка содержит информацию о имени, электронной почте и возрасте человека.


#Надо проверить данные из файла, для каждой строки:

#присутсвуют все три поля
#поле имени содержит только буквы
#поле email содержит @ и .
#поле возраст является числом от 10 до 99
# проверка
inp1 = input('Введите имя: ')
inp2 = input('Введите почту: ')
inp3 = int(input('Введите возраст: '))

my_list = [inp1, inp2, inp3]

if len(my_list) < 3:
    print('Вы ввели данные не полностью! ')
else:
        print('Вы ввели данные верно!')
if inp1.isalpha:
    print('В имени всё чётко')
else:
        print('В имени есть буквы, ошибка')
if '@' not in my_list[1] or '.' not in my_list[1]:
    print('неправильно ввели почту')
else:
        print('почта введа верно')
if inp3 > 10 or inp3  > 99:
     print('Проходите по возрасту ')
else:
    print('не подходите ')

Введите имя: Artem
Введите почту: fomin.artem.serg@gmail.com
Введите возраст: 24
Вы ввели данные верно!
В имени всё чётко
почта введа верно
Проходите по возрасту