# метод apply

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('[DMC.RIP] WeightLoss.csv')

In [32]:
df.head()

   id    group  w1  w2   w3   se1   se2   se3
0   1  Control   4   3  3.0  14.0  13.0  15.0
1   2  Control   4   4  3.0  13.0  14.0  17.0
2   3  Control   4   3  1.0  17.0  12.0  16.0
3   4  Control   3   2  1.0  11.0  11.0  12.0
4   5  Control   5   3  2.0  16.0  15.0  14.0

In [2]:
df['total'] = df['w1'] + df['w2'] + df['w3']
df['total_gr'] = df['total'] * 1000

In [3]:
df.head()

   id    group  w1  w2   w3   se1   se2   se3  total  total_gr
0   1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0
1   2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0
2   3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0
3   4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0
4   5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0

In [4]:
 df['total_gr'].apply(np.log)

0     9.210340
1     9.305651
2     8.987197
3     8.699515
4     9.210340
5     9.615805
6     9.615805
7     9.210340
8     9.210340
9     8.987197
10    8.987197
11    8.987197
12    9.305651
13    9.210340
14    9.680344
15    9.392662
16    8.699515
17    9.546813
18    8.987197
19    8.853665
20    9.546813
21    9.740969
22    9.104980
23    9.546813
24    9.798127
25         NaN
26    9.852194
27    8.987197
28    9.104980
29    9.472705
30    9.615805
31    9.680344
32    9.903488
33    9.615805
Name: total_gr, dtype: float64

In [5]:
df['avloss'] = df.loc[:, 'w1':'w3'].apply(np.mean, axis = 1) # stroka - 1

In [7]:
df

    id    group  w1  w2   w3   se1   se2   se3  total  total_gr    avloss
0    1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0  3.333333
1    2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0  3.666667
2    3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0  2.666667
3    4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0  2.000000
4    5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0  3.333333
5    6  Control   6   5  4.0  17.0  18.0  18.0   15.0   15000.0  5.000000
6    7  Control   6   5  4.0  17.0  16.0  19.0   15.0   15000.0  5.000000
7    8  Control   5   4  1.0   NaN   NaN   NaN   10.0   10000.0  3.333333
8    9  Control   5   4  1.0  14.0  14.0  15.0   10.0   10000.0  3.333333
9   10  Control   3   3  2.0  14.0  15.0  13.0    8.0    8000.0  2.666667
10  11  Control   4   2  2.0  16.0  16.0  11.0    8.0    8000.0  2.666667
11  12  Control   5   2  1.0  15.0  13.0  16.0    8.0    8000.0  2.666667
12  13     Diet   6   3  2.0  12.0  11.0  14.0   11.0   11000.0  3.666667
13  14     Diet   5   4  1.0  13.0  14.0  15.0   10.0   10000.0  3.333333
14  15     Diet   7   6  3.0  17.0  11.0  18.0   16.0   16000.0  5.333333
15  16     Diet   6   4  2.0  16.0  15.0  18.0   12.0   12000.0  4.000000
16  17     Diet   3   2  1.0  16.0  17.0  15.0    6.0    6000.0  2.000000
17  18     Diet   5   5  4.0  13.0  11.0  18.0   14.0   14000.0  4.666667
18  19     Diet   4   3  1.0  12.0  11.0  14.0    8.0    8000.0  2.666667
19  20     Diet   4   2  1.0  12.0  11.0  11.0    7.0    7000.0  2.333333
20  21     Diet   6   5  3.0  17.0  16.0  19.0   14.0   14000.0  4.666667
21  22     Diet   7   6  4.0  19.0  19.0  19.0   17.0   17000.0  5.666667
22  23     Diet   4   3  2.0  15.0  15.0  15.0    9.0    9000.0  3.000000
23  24     Diet   7   4  3.0  16.0  14.0  18.0   14.0   14000.0  4.666667
24  25   DietEx   7   7  4.0  15.0  11.0  19.0   18.0   18000.0  6.000000
25  26   DietEx   4   7  NaN  16.0  12.0  18.0    NaN       NaN  5.500000
26  27   DietEx   9   7  3.0  13.0  12.0  17.0   19.0   19000.0  6.333333
27  28   DietEx   3   4  1.0  16.0  13.0   NaN    8.0    8000.0  2.666667
28  29   DietEx   3   5  1.0  13.0  13.0  16.0    9.0    9000.0  3.000000
29  30   DietEx   6   5  2.0  15.0  12.0  18.0   13.0   13000.0  4.333333
30  31   DietEx   6   6  3.0  15.0  13.0  18.0   15.0   15000.0  5.000000
31  32   DietEx   9   5  2.0  16.0  14.0  17.0   16.0   16000.0  5.333333
32  33   DietEx   7   9  4.0  16.0  16.0  19.0   20.0   20000.0  6.666667
33  34   DietEx   8   6  1.0  17.0  17.0  17.0   15.0   15000.0  5.000000

In [4]:
f = lambda x: x.max() - x.min()

In [5]:
df['lambda'] = df.loc[:, 'w1' : 'w3'].apply(f, axis = 1)

In [28]:
df

         date lang  n  lambda
0  2019-03-11   en  3     NaN
1  2019-03-11   fr  5     NaN
2  2019-03-12   en  6     NaN
3  2019-03-13   fr  1     NaN
4  2019-03-13   en  2     NaN
5  2019-03-16   fr  4     NaN
6  2019-03-17   en  3     NaN
7  2019-03-11   en  3     NaN

#  Группировка и агрегирование

In [6]:
df.groupby('group')

In [7]:
list(df.groupby('group'))[0]

[('Control',
      id    group  w1  w2   w3   se1   se2   se3  lambda
  0    1  Control   4   3  3.0  14.0  13.0  15.0     1.0
  1    2  Control   4   4  3.0  13.0  14.0  17.0     1.0
  2    3  Control   4   3  1.0  17.0  12.0  16.0     3.0
  3    4  Control   3   2  1.0  11.0  11.0  12.0     2.0
  4    5  Control   5   3  2.0  16.0  15.0  14.0     3.0
  5    6  Control   6   5  4.0  17.0  18.0  18.0     2.0
  6    7  Control   6   5  4.0  17.0  16.0  19.0     2.0
  7    8  Control   5   4  1.0   NaN   NaN   NaN     4.0
  8    9  Control   5   4  1.0  14.0  14.0  15.0     4.0
  9   10  Control   3   3  2.0  14.0  15.0  13.0     1.0
  10  11  Control   4   2  2.0  16.0  16.0  11.0     2.0
  11  12  Control   5   2  1.0  15.0  13.0  16.0     4.0),
 ('Diet',
      id group  w1  w2   w3   se1   se2   se3  lambda
  12  13  Diet   6   3  2.0  12.0  11.0  14.0     4.0
  13  14  Diet   5   4  1.0  13.0  14.0  15.0     4.0
  14  15  Diet   7   6  3.0  17.0  11.0  18.0     4.0
  15  16  Diet   6   4  2.0  16.0  15.0  18.0     4.0
  16  17  Diet   3   2  1.0  16.0  17.0  15.0     2.0
  17  18  Diet   5   5  4.0  13.0  11.0  18.0     1.0
  18  19  Diet   4   3  1.0  12.0  11.0  14.0     3.0
  19  20  Diet   4   2  1.0  12.0  11.0  11.0     3.0
  20  21  Diet   6   5  3.0  17.0  16.0  19.0     3.0
  21  22  Diet   7   6  4.0  19.0  19.0  19.0     3.0
  22  23  Diet   4   3  2.0  15.0  15.0  15.0     2.0
  23  24  Diet   7   4  3.0  16.0  14.0  18.0     4.0),
 ('DietEx',
      id   group  w1  w2   w3   se1   se2   se3  lambda
  24  25  DietEx   7   7  4.0  15.0  11.0  19.0     3.0
  25  26  DietEx   4   7  NaN  16.0  12.0  18.0     3.0
  26  27  DietEx   9   7  3.0  13.0  12.0  17.0     6.0
  27  28  DietEx   3   4  1.0  16.0  13.0   NaN     3.0
  28  29  DietEx   3   5  1.0  13.0  13.0  16.0     4.0
  29  30  DietEx   6   5  2.0  15.0  12.0  18.0     4.0
  30  31  DietEx   6   6  3.0  15.0  13.0  18.0     3.0
  31  32  DietEx   9   5  2.0  16.0  14.0  17.0     7.0
  32  33  DietEx   7   9  4.0  16.0  16.0  19.0     5.0
  33  34  DietEx   8   6  1.0  17.0  17.0  17.0     7.0)]

In [8]:
df.groupby('group').agg('sum') # при исп-ии метода agg название ф-и в ' '

          id  w1  w2    w3    se1    se2    se3  lambda
group
Control   78  54  40  25.0  164.0  157.0  166.0    29.0
Diet     222  64  47  27.0  178.0  165.0  194.0    37.0
DietEx   295  62  61  21.0  152.0  133.0  159.0    45.0

In [11]:
df.groupby('group').agg('mean')

,id,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,lambda
group,,,,,,,,,,,
Control,6.5,4.500000,3.333333,2.083333,14.909091,14.272727,15.090909,9.916667,9916.666667,3.305556,2.416667
Diet,18.5,5.333333,3.916667,2.250000,14.833333,13.750000,16.166667,11.500000,11500.000000,3.833333,3.083333
DietEx,29.5,6.200000,6.100000,2.333333,15.200000,13.300000,17.666667,14.777778,14777.777778,4.983333,4.500000

In [12]:
df.groupby('group').agg(['min', 'max', 'mean'])

         id            w1                w2                 w3  ...  \
        min max  mean min max      mean min max      mean  min  ...
group                                                           ...
Control   1  12   6.5   3   6  4.500000   2   5  3.333333  1.0  ...
Diet     13  24  18.5   3   7  5.333333   2   6  3.916667  1.0  ...
DietEx   25  34  29.5   3   9  6.200000   4   9  6.100000  1.0  ...

             total total_gr                           avloss            \
              mean      min      max          mean       min       max
group
Control   9.916667   6000.0  15000.0   9916.666667  2.000000  5.000000
Diet     11.500000   6000.0  17000.0  11500.000000  2.000000  5.666667
DietEx   14.777778   8000.0  20000.0  14777.777778  2.666667  6.666667

                  lambda
             mean    min  max      mean
group
Control  3.305556    1.0  4.0  2.416667
Diet     3.833333    1.0  4.0  3.083333
DietEx   4.983333    3.0  7.0  4.500000

[3 rows x 33 columns]

In [16]:
df.isnull()

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,lambda
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,True,True,True,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,True,False,False,False,True,True,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,True,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().sum()

id          0
group       0
w1          0
w2          0
w3          1
se1         1
se2         1
se3         2
total       1
total_gr    1
avloss      0
lambda      0
dtype: int64

In [28]:
df.fillna(0)

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,lambda
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
7,8,Control,5,4,1.0,0.0,0.0,0.0,10.0,10000.0,3.333333,4.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
25,26,DietEx,4,7,0.0,16.0,12.0,18.0,0.0,0.0,5.500000,3.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
27,28,DietEx,3,4,1.0,16.0,13.0,0.0,8.0,8000.0,2.666667,3.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0

In [29]:
df = df.dropna()

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 33
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        31 non-null     int64
 1   group     31 non-null     object
 2   w1        31 non-null     int64
 3   w2        31 non-null     int64
 4   w3        31 non-null     float64
 5   se1       31 non-null     float64
 6   se2       31 non-null     float64
 7   se3       31 non-null     float64
 8   total     31 non-null     float64
 9   total_gr  31 non-null     float64
 10  avloss    31 non-null     float64
 11  lambda    31 non-null     float64
dtypes: float64(8), int64(3), object(1)
memory usage: 3.1+ KB

#  иерархическое индексирование

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame([['2019-03-11', 'en', 3],
                ['2019-03-11', 'fr', 5],
                ['2019-03-12', 'en', 6],
                ['2019-03-13', 'fr', 1],
                ['2019-03-13', 'en', 2],
                ['2019-03-16', 'fr', 4],
                ['2019-03-17', 'en', 3],
                ['2019-03-11', 'en', 3]],
               columns = ['date','lang', 'n'])

In [38]:
df

         date lang  n
0  2019-03-11   en  3
1  2019-03-11   fr  5
2  2019-03-12   en  6
3  2019-03-13   fr  1
4  2019-03-13   en  2
5  2019-03-16   fr  4
6  2019-03-17   en  3
7  2019-03-11   en  3

In [39]:
df.set_index(['date','lang'], inplace = True)

In [43]:
df

                 n
date       lang
2019-03-11 en    3
           fr    5
2019-03-12 en    6
2019-03-13 fr    1
           en    2
2019-03-16 fr    4
2019-03-17 en    3
2019-03-11 en    3

In [46]:
# если дни будут находиться в разных местах, это не сработает,сначало сорт-ка

In [42]:
df.sort_values('date')

                 n
date       lang
2019-03-11 en    3
           fr    5
           en    3
2019-03-12 en    6
2019-03-13 fr    1
           en    2
2019-03-16 fr    4
2019-03-17 en    3

In [44]:
df.index

MultiIndex([('2019-03-11', 'en'),
            ('2019-03-11', 'fr'),
            ('2019-03-12', 'en'),
            ('2019-03-13', 'fr'),
            ('2019-03-13', 'en'),
            ('2019-03-16', 'fr'),
            ('2019-03-17', 'en'),
            ('2019-03-11', 'en')],
           names=['date', 'lang'])

In [45]:
df.sort_index()

                 n
date       lang
2019-03-11 en    3
           en    3
           fr    5
2019-03-12 en    6
2019-03-13 en    2
           fr    1
2019-03-16 fr    4
2019-03-17 en    3

In [50]:
df.loc['2019-03-11', 'en']

<ipython-input-50-e80de47f7a98>:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc['2019-03-11', 'en']

                 n
date       lang
2019-03-11 en    3
           en    3

In [33]:
np.random.randn(7)

array([-0.44698706,  0.28663201, -0.51890175, -0.2689336 ,  0.13118646,
       -0.25549029,  1.36329273])

In [39]:
np.random.randn(3,3)

array([[-1.60762775,  0.07125422, -0.57663184],
       [-0.18951982,  0.27392547, -1.58706784],
       [ 0.87566959,  2.09967512,  0.14398171]])

In [40]:
np.random.randn(3,3) + 5

array([[6.57790014, 5.18890145, 5.19980697],
       [4.02124739, 5.24646397, 4.26273033],
       [4.26304545, 4.60124089, 5.33791477]])

In [34]:
df = pd.DataFrame(np.array([[10,11], [20,21]]))
df

    0   1
0  10  11
1  20  21

In [35]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [38]:
df[1]

0    11
1    21
Name: 1, dtype: int32